body {
    background-color: lightblue;
}
h1 {
    color: white;
    text-align: right;
}

p {
    font-family: verdana;
    font-size: 20px;
}
h4 {
    background-color: green;
}

div {
    background-color: lightblue;
}

p {
    background-color: yellow;
}